html {
  font-size: 625%; }

body {
  font-size: 0.2rem;
  background-color: lightgray; }

button {
  border: none; }

.g-fleft {
  float: left; }

.g-fright {
  float: right; }

.g-inlineb, .s-img1, .s-img2, .m-header {
  display: inline-block;
  vertical-align: middle; }

.top, .g-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.g-main {
  position: absolute;
  top: 0.5rem;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 10rem;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px; }

.s-img1 {
  width: 0.15rem; }

.s-img2 {
  width: 0.3rem; }

.m-header {
  margin: 0 0.15rem 0 0.3rem; }

.m-footer {
  width: 100%;
  padding: 0.2rem;
  margin: 0 auto;
  background-color: orange;
  color: #fff; }

.m-word {
  width: 100%;
  padding-bottom: 0.2rem;
  background-color: #fff; }

.m-word-icon {
  display: block;
  width: 92%;
  margin: 0 0.2rem;
  padding: 0.2rem 0;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  color: #000;
  font-weight: 500;
  font-size: 16px; }

.m-num {
  margin: 0.05rem 0;
  background-color: #fff; }

.m-mun1 {
  display: flex;
  height: 2rem; }

.main-right {
  display: flex;
  flex-direction: column;
  width: 100%; }

.m-num-change {
  display: inline-block;
  background-color: lightgrey;
  color: orange; }

.m-match-word {
  color: #000;
  width: 0.2rem;
  padding: 0.4rem 0.2rem;
  border-right: 1px solid lightgray; }

.u-padding {
  padding: 0.1rem 0.1rem; }

.slider {
  max-height: 3rem;
  margin: 0 auto;
  text-align: center; }

.slider-num {
  width: 0.5rem;
  color: #f6931f;
  font-weight: bold; }

.g-top {
  text-align: center;
  line-height: 0.5rem;
  color: #fff;
  background-color: #29bde0; }

.s-sprite {
  background-image: url(../img/sprite7.png);
  background-size: 61.875rem 12.8125rem; }

.ui-slide {
  width: 400px;
  margin: 10px auto;
  /*margin-left: 100px;*/ }

.slider-track {
  position: relative;
  margin: 10px;
  /*width: 50%;*/
  height: 5px;
  border-radius: 1em;
  border: 1px solid #AAAAAA; }

input[type="text"] {
  display: inline-block;
  width: 3em;
  text-align: center;
  border: none;
  font-size: 16px; }

.slider_icon {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 1rem;
  width: 75%;
  height: 0.1rem;
  margin: 0 auto;
  background: orange; }

input[type="range"]::-ms-fill-lower {
  background-color: orange; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/slider.png");
  width: 64px;
  height: 40px;
  background-size: cover; }

.minus {
  outline: none;
  cursor: pointer;
  width: 18px;
  height: 4px;
  background-image: url("../img/minus.png"); }

.plus {
  outline: none;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background-image: url("../img/plus.png");
  background-color: #fff; }

.block1 {
  margin: 0.3rem;
  width: 0.1rem;
  height: 0.1rem;
  background: orange; }

.block2 {
  margin: 0.3rem;
  width: 0.1rem;
  height: 0.1rem;
  background: lightblue; }

.row {
  display: inline-block;
  width: 50%; }

.abnum {
  height: 1.5rem;
  overflow: auto;
  display: flex;
  flex-wrap: wrap; }

.click {
  padding: 0.1rem;
  border-top: 1px solid #fafafa;
  text-align: center;
  color: lightblue; }

/*# sourceMappingURL=match.css.map */
