@charset "UTF-8";
.img, .img1, .img2, .img3, .img4, .img5, .img6, .img7 {
  background-image: url(../../css/picture/task12/sprite6.png);
  background-size: 24.5rem 5.875rem; }

.img1 {
  height: 2.75rem;
  width: 2.625rem;
  background-position: -0.1rem 0; }

.img2 {
  height: 1.4375rem;
  width: 1.1875rem;
  background-position: -3.75rem 0; }

.img3 {
  height: 1.5rem;
  width: 1.5rem;
  background-position: -6.35rem 0; }

.img4 {
  height: 2.0625rem;
  width: 2.1875rem;
  background-position: -8rem 0; }

.img5 {
  height: 2.5rem;
  width: 2.875rem;
  background-position: -11.25rem 0; }

.img6 {
  height: 5.875rem;
  width: 5.875rem;
  background-position: -15rem 0; }

.img7 {
  height: 2.5625rem;
  width: 2.625rem;
  background-position: -21.875rem 0; }

.inline-block {
  display: inline-block; }

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 120px; }

.main {
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 120px;
  bottom: 60px; }

.bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px; }

.nav-top {
  background-color: #5fc0cd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px; }

.employer {
  color: #fff;
  background-color: #099;
  padding: 1rem 2rem;
  margin-right: -3px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px; }

.nurse {
  margin-left: -3px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #fff;
  color: #5fc0cd;
  border-radius: 5px; }

.location {
  border: none;
  background-color: #5fc0cd; }

.option {
  text-align: center;
  padding: 2rem 0;
  border: 1px solid #ddd; }

.main-row-a {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle; }

.service {
  color: #bbb;
  display: inline-block;
  vertical-align: middle; }

.date {
  width: 40%;
  margin-left: 20px;
  overflow: hidden;
  /*溢出隐藏*/
  text-overflow: ellipsis;
  /*文本溢出省略号*/
  white-space: nowrap;
  /*不换行*/
  display: inline-block;
  vertical-align: middle; }

.sign {
  margin-right: 40px;
  float: right;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }

.time {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
  float: right;
  color: #f00; }

.clear-both {
  clear: both; }

.address {
  display: inline-block;
  vertical-align: middle;
  color: #bbb; }

.address-img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px; }

.footer-nav {
  display: inline-block;
  vertical-align: middle;
  margin: auto 40px; }

.homepage {
  text-align: center;
  color: #5fc0cd; }

.my {
  text-align: center;
  color: #bbb; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px;
  width: 100%;
  height: 100%;
  /*让背景图片100%适应整个屏幕*/ }

ul,
li {
  list-style: none; }

button {
  border: none; }

.mright1 {
  display: flex;
  flex: 0 0 80%;
  justify-content: center; }

.mright2 {
  display: flex;
  flex: 0 0 10%; }

.font-0 {
  font-size: 0; }

.font-16 {
  font-size: 16px; }

.main-row {
  font-size: 16px;
  padding: 20px 0;
  border-bottom: 1px solid #ddd; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8; }

.my-hand {
  cursor: pointer; }

.margin-left {
  margin-left: 10px; }

.margin-left2 {
  margin-left: 20px; }

.padding-top {
  padding-top: 5px;
  padding-bottom: 5px; }

.overflow-ellipsis {
  overflow: hidden;
  /*溢出隐藏*/
  text-overflow: ellipsis;
  /*文本溢出省略号*/
  white-space: nowrap;
  /*不换行*/ }

.bgray {
  background-color: #f8f8f8; }

.colorf0d {
  background-color: #5fc0cd; }

.colorfff {
  background-color: #fff; }

.color099 {
  background-color: #2f8b97; }

.fff {
  color: #fff; }

.f0d {
  color: #5fc0cd; }

.bbb {
  color: #bbb; }

.f00 {
  color: #f00; }

.inline-block {
  display: inline-block;
  vertical-align: middle; }

.dropdown {
  position: relative;
  display: inline-block;
  width: 33.33%;
  font-size: 16px;
  color: #bbb; }

.dropdown-content {
  display: none;
  position: absolute;
  text-align: center;
  z-index: 10;
  background-color: #f9f9f9;
  width: 100%;
  border: 1px solid #ddd; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

.text-center {
  text-align: center; }

/*# sourceMappingURL=task13.css.map */
