html{
    font-size: 625%; /*100 ÷ 16 × 100% = 625%*/

}

body{
    font-family:'Microsoft YaHei', sans-serif;
    background-color: #fafafa;
}
ul,
li,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    cursor: pointer;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

header nav a:hover{
    text-decoration: none;
    outline: none;
    color: #fff;
    border-bottom: 3px solid #fff;

}
footer nav a{
    color: #fff;
}
footer nav a:hover{

    outline: none;
    color: #fff;


}

.img-p {
    background-image: url(../../picture/task8/sprite-partner.png);
    background-size: 9.51rem 3.7rem;
}

.img-x {
    background-image: url(../../picture/task8/sprite-xicon.png);
    background-size: 7.34rem 0.62rem;
}

.img-h {
    background-image: url(../../picture/task8/sprite-head.png);
    background-size: 9.62rem auto;
}
.img-p-background{
    padding-top:20.58%;
    background-image: url(../../picture/task8/background5.png);
    background-size: cover;
    background-position: center;/*兼容IE8及以下*/
}

.img-p1 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: 0 0;
}

.img-p2 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: -2.31rem 0;
}

.img-p3 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: -4.89rem 0;
}

.img-p4 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: -7.36rem 0;
}

.img-p5 {
    height: 1.8rem;
    width: 2.15rem;
    background-position: 0  -1.9rem;
}

.img-p6 {
    height: 1.77rem;
    width: 2.3rem;
    background-position: -2.29rem -1.92rem;
}

.img-x1 {
    height: 0.13rem;
    width: 0.13rem;
    background-position: 0 0;
}

.img-x2 {
    height: 0.15rem;
    width: 0.16rem;
    background-position: -0.2rem 0;
}

.img-x3 {
    height: 0.24rem;
    width: 0.25rem;
    background-position: -1.2rem 0;
}

.img-x4 {
    height: 0.47rem;
    width: 0.27rem;
    background-position: -0.46rem 0;
}

.img-x5 {
    height: 0.46rem;
    width: 0.27rem;
    background-position: -0.83rem 0;
}

.img-x6 {
    height: 0.28rem;
    width: 0.29rem;
    background-position: -1.56rem 0;
}

.img-x7 {
    height: 0.28rem;
    width: 0.29rem;
    background-position: -1.94rem 0;
}

.img-x8 {
    height: 0.3rem;
    width: 0.32rem;
    background-position: -2.34rem 0;
}

.img-x9 {
    height: 0.62rem;
    width: 0.43rem;
    background-position: -2.76rem 0;
}

.img-x10 {
    height: 0.55rem;
    width: 0.52rem;
    background-position: -3.27rem 0;
}

.img-x11 {
    height: 0.5rem;
    width: 0.6rem;
    background-position: -3.87rem 0;
}

.img-x12 {
    height: 0.49rem;
    width: 1.07rem;
    background-position: -4.59rem 0;
}

.img-x13 {
    height: 0.6rem;
    width: 1.6rem;
    background-position: -5.74rem 0;
}

.img-h1 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -4.29rem 0;
}

.img-h2 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -3.43rem 0;
}

.img-h3 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -5.11rem 0;
}

.img-h4 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -6.01rem 0;
}

.img-h5 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -0.85rem 0;
}

.img-h6 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: 0 0;
}

.img-h7 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -2.6rem 0;
}

.img-h8 {
    height: 0.75rem;
    width: 0.75rem;
    background-position: -1.71rem 0;
}

.img-h9 {
    height: 0.92rem;
    width: 0.92rem;
    background-position: -6.92rem 0;
}

.img-h10 {
    height: 1.08rem;
    width: 1.08rem;
    background-position: 0 -0.85rem;
}

.img-h11 {
    height: 1.08rem;
    width: 1.08rem;
    background-position: -1.17rem -8.5rem;
}

.img-h12 {
    height: 1.08rem;
    width: 1.08rem;
    background-position: -2.39rem -0.84rem;
}

.img-h13 {
    height: 1.08rem;
    width: 1.08rem;
    background-position: -3.64rem -0.84rem;
}

.img-h14 {
    height: 1.53rem;
    width: 1.56rem;
    background-position: -8.06rem 0;
    background-image: url(../../picture/task8/sprite-head.png);
    background-size: 9.62rem auto;
}

.cgreen{
    background-color: #29b078;
}
.corange{
    background-color: #f9a372;
}

.cwhite{
    background-color: #fff;
}

.cwhite1{
    background-color: #fafafa;
}

.wgreen{
    color: #29b078;
}
.worange{
    color: #ff946b;
}

.wwhite{
    color: #dadada;
}
.wwhite1{
    color: #fff;
}
.border-color1{
    border-top: 1px solid #32c086;
}
.border-color2{
    padding: 0.2rem 0;
    border-bottom: 1px solid #eeeded;
    font-weight: 800;
    font-size: medium;
}
.border-color3{
    border-bottom: 1px solid #eeeded;
}
.border-table{
    border-top: 1px solid #eeeded;
    line-height: 0.4rem;
}


.h-size{

    line-height: 0.4rem;
    color: #29b078;
}
.h-size2{

    line-height: 1rem;

}
.nav-top{
    display: inline-block;
    height: 1rem;
    width: 1rem;
    text-align: center;
    color: #fff;
}

.f1-size{
    padding-top: 0.3rem;
    padding-bottom: 0.15rem;

}
.nav-bottom{
    display: inline-block;
    margin-left: 19%;
}

.record{
    display: table;
    margin: 0 auto;
    padding: 3px 0;
    font-size: x-small;
}

.inline-block{
    display: inline-block;
    vertical-align: middle;

}
.inline-block1{
    display: inline-block;
}

.inline-block-row1{
    text-align: center;
    line-height: 1rem;
}
.inline-block-row1-man{
    text-align: left;
    line-height: 0.3rem;
}

.main-max{
    max-width: 13rem;
    margin: 1rem auto;
}

.main-max2{
    max-width: 13rem;
    margin: 0.8rem auto 2.3rem auto;
}
.main-max3{
    max-width: 13rem;
    margin: 0 auto 2.3rem auto;
}

.dot {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background-color: #fff;
    margin: 0.03rem;
    cursor: pointer;
}

.dot2 {
    display: inline-block;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    border: 1px solid #ff650e;
    margin: 0.03rem;
    cursor: pointer;
}

.dot:hover {
    background-color: #29b078;
}

.dot2:hover {
    background-color: #f9a372;
}

.partner-border{
    background-color: #fff;
    border: 1px solid #eeeded;
    box-shadow:1px 1px 1px #eeeded;
    border-radius: 5px;
    font-weight: 500;
    font-size: small;
}

.partner-main-top{
    margin-top: -0.5rem;
    margin-bottom: 0.3rem;
}
.position-main-top{
    padding: 0.3rem 0;
    border-bottom:1px solid #d0d6d9;
    font-weight: 800;
}
.position-main-top2{
    padding: 0.2rem 0;
    border-bottom:1px solid #edf1f2;
    font-size: small;
}
.position-main-top3{
    padding: 0.3rem 0;
    border-bottom:1px solid #d0d6d9;
    font-weight: 800;
}

.partner-main-left{
    text-align: left;
    margin-left: 35%;
    color: #29b078;

}

.partner-left-font{
    display: inline-block;
    vertical-align: middle;
    margin: 0.1rem 0;
    color: #29b078;
}
.partner-left-bottom{
    margin-bottom: 1rem;
}

.partner-right-font{
    padding: 0.3rem 0.5rem 1.8rem 0.5rem;
    line-height: 0.25rem;
}
.partner-right-top{
    padding: 0.3rem 0.5rem 0.3rem 0.15rem;
    line-height: 0.25rem;
}

@media (min-width: 768px) {
    .partner-right-top {
        padding: 0.3rem 0.65rem;
        line-height: 0.25rem;
    }
}

.partner-left-p{
    margin: 0 0 0.3rem;
}


.box{
    height: 4.4rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: small;
    border: 1px solid #eeeded;
    box-shadow:1px 1px 1px #eeeded;
    background-color: #fff;
}

.box2{
    height: 4.4rem;
    margin: 0.5rem 0.15rem 0.5rem 0;
    border-radius: 5px;
    font-weight: 500;
    font-size: small;
    border: 1px solid #eeeded;
    box-shadow:1px 1px 1px #eeeded;
    background-color: #fff;

}

.word-break{
    word-break: break-all;
}

.floater{
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all  0.8s ease;
    background-color: rgba(0,0,0,0);
    color: #ffffff;
}

.floater2{
    position: relative;
    top: 10%;
}

.aaaa{
    opacity: 1;
    transition: all  0.8s ease;
    background-color: rgba(0,0,0,1);
}
.floater:hover{
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
}

@media (max-width: 1200px){
    html{
        font-size: 530%; /*100 ÷ 16 × 100% = 625%*/
    }
}
@media (max-width: 992px){
    html{
        font-size: 620%; /*100 ÷ 16 × 100% = 625%*/
    }
}

@media (max-width: 768px){
    html{
        font-size: 300%; /*100 ÷ 16 × 100% = 625%*/
    }
}